body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  text-align: center;
}

main {
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: rgb(206, 9, 9);
  margin-bottom: 10px;
  text-align: center;
  
}

p {
  line-height: 1.6;
}

a {
  color: blue;
  text-decoration-style: solid;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}
